.clearfix{
    overflow: auto;
}
.dropzone {
    position: relative;
    height: 100px;
    border: 2px dashed #b3b3b3;
    border-radius: 4px;
    background-color: #f3f3f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropzone .msg{
    font-size: 20px;
    font-weight: bold;
    color: #c3c3c3;
    padding: 0 10px;
}
input.fileUpload{
    display: none;
}
.preview{
    margin: 10px 0;
    padding: 5px;
}
.previewData img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
}
.previewDetails{
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 8px;
}
.detail{
    font-family: arial;
    padding: 5px;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.previewControls{
    display: inline-block;
    float: left;
    margin: 30px 5px;
}
.circle{
    border: 2px solid #5B93F5;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 5px;
    cursor: pointer;
    color: #5B93F5;
}
.circle.upload:hover{
    border: 2px solid green;
}
.circle.upload:hover i.fa-check{
    color: green;
}
.circle.remove:hover{
    border: 2px solid red;
}
.circle.remove:hover i.fa-close{
    color: red;
}
.circle i{
    position: relative;
    font-size: 14px;
}
.circle i.fa-check{
    top: 1px;
    left: 4px;
}
.circle i.fa-close{
    top: 0px;
    left: 5px;
}